<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {{~ app.projectName }}
  </title>
  <meta name="description" content="DNS Redirect, Domain redirects with CNAME, how to redirect" />
  <meta name="author" content="Udlei Nati / udlei@nati.biz">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <script src="https://unpkg.com/base32.js@0.1.0/dist/base32.min.js"></script>
  <style>
    body { background-color: #F8F8F8; }

    header a:link, footer a { color: #fff; }
    header a:hover, footer a:hover { color: #BBD4E4 !important; }

    .margin-lg { margin: 40px 0; }
    .list-group-item .glyphicon, .panel .panel-heading .glyphicon { vertical-align: -1px; margin-right: 5px; }
    .bold { font-weight: bold; }
    .well { margin: 0; }
    .panel-group .panel+.panel { margin-top: 10px; }
    .panel-default>.panel-heading { background: transparent; }
    .panel-group .panel .panel-heading a { display: block; font-size: 14px; padding: 10px 15px; margin: -10px -15px; }
    .panel-group .panel .panel-heading a:link { text-decoration: none; }
    .panel-group .panel .panel-heading code { background: transparent; }
    .panel-group .panel .panel-body { padding: 30px 20px; }

    header { padding-bottom: 10px; }
    footer { margin-top: 75px; }
    footer p { margin-top: 5px; margin-bottom: 5px; }

    header, footer { background-color: #2980b9; }
    header a, header small, header span, footer p, footer a { color: #fff; }

    div#content { margin-top: 10px; }

    footer .google-keywords { list-style-type: none; font-size: 10px; padding-left:0px; color: #ccc; margin-top: 10px; }

    .see-too { color: white; font-size: 12px; opacity: 0.8; }

    .pt-br { display: none;}
    .en { display: none; }

    .en { display: inline-block; }
  </style>
</head>

<body>
  <header>
    <div class="container">
      <h1>
        <a href="/">
          {{~ app.projectName }}</a>
        <small class="en">Redirect domains using DNS only</small>
        <small class="pt-br">Redirecione domínios usando somente o DNS</small>
      </h1>

      <p><span id="uptime">...</span></p>

      <p class="domains">
        <span class="en">Last 24h:
          {{ statistics.periodDomains }} domains - Since last restart:
          {{ statistics.everDomains }} domains</span>
        <span class="pt-br">&Uacute;ltimas 24h:
          {{ statistics.periodDomains }} dom&iacute;nios - Desde o último restart:
          {{ statistics.everDomains }} dom&iacute;nios</span>
      </p>

      <p class="languages">
        <span><a href="javascript:;" class="change-language to-en">English</a> - <a class="change-language to-pt-br"
            href="javascript:;">Português</a></span>
      </p>
    </div>
  </header>
  <div id="content" class="container">
    <br />
    <p class="lead">
      <span class="en">What do you want to do?</span>
      <span class="pt-br">O que você quer fazer?</span>
    </p>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#redirect-model-1" aria-expanded="true"
              aria-controls="redirect-model-1">
              <span class="glyphicon glyphicon-share-alt"></span>
              <span class="pt-br">Redirecionar <code class="test_origin">http://my-domain.com</code> para <code class="test_destination">http://www.my-domain.com</code></span>
              <span class="en">Redirect <code class="test_origin">http://my-domain.com</code> to <code class="test_destination">http://www.my-domain.com</code></span>
            </a>
          </h4>
        </div>
        <div id="redirect-model-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>
              <span class="en">Configure your DNS Zone as follows:</span>
              <span class="pt-br">Configure seu DNS da seguinte forma:</span>
            </p>
            <div class="row">
              <div class="col-lg-10">
                <div class="en" style="width: 100%;">
                  <div class="well well-sm">
                    <div class="row">
                      <div class="col-xs-4">Host Record: <strong>&lt;leave-empty&gt;</strong></div>
                      <div class="col-xs-2">Type: <strong>A</strong></div>
                      <div class="col-xs-6">To: <strong>
                          {{~ app.entryIp }}</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-4">Host Record: <strong>redirect</strong></div>
                      <div class="col-xs-2">Type: <strong>CNAME</strong></div>
                      <div class="col-xs-6">To: <strong>www.my-domain.com.{{~ app.fqdn }}</strong></div>
                    </div>
                  </div>
                </div>
                <div class="pt-br" style="width: 100%;">
                  <div class="well well-sm">
                    <div class="row">
                      <div class="col-xs-4">Host Record: <strong>&lt;deixe-vazio&gt;</strong></div>
                      <div class="col-xs-2">Type: <strong>A</strong></div>
                      <div class="col-xs-6">To: <strong>
                          {{~ app.entryIp }}</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-xs-4">Host Record: <strong>redirect</strong></div>
                      <div class="col-xs-2">Type: <strong>CNAME</strong></div>
                      <div class="col-xs-6">To: <strong>www.my-domain.com.{{~ app.fqdn }}</strong></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <span class="label label-danger en">PARAMETER</span>
            <span class="label label-danger pt-br">PARÂMETRO</span>
            <span class="pt-br">
              O parâmetro <code>.opts-https.</code> redireciona para o domínio com <strong>https</strong>. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>
            <span class="en">
              The <code>.opts-https.</code> parameter redirect to <strong>https</strong> domain. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="redirect-model-two">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#redirect-model-2"
              aria-expanded="false" aria-controls="redirect-model-2">
              <span class="glyphicon glyphicon-share-alt"></span>
              <span class="en">Redirect <code class="test_origin">http://www.my-domain.com/&lt;anything&gt;</code> to
                <code class="test_destination">http://www.my-other-domain.com</code></span>
              <span class="pt-br">Redirecionar <code class="test_origin">http://www.my-domain.com/&lt;qualquer-coisa&gt;</code>
                para <code class="test_destination">http://www.my-other-domain.com</code></span>
            </a>
          </h4>
        </div>
        <div id="redirect-model-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="redirect-model-two">
          <div class="panel-body">
            <p>
              <span class="en">Configure your DNS Zone as follows:</span>
              <span class="pt-br">Configure seu DNS da seguinte forma:</span>
            </p>
            <div class="row">
              <div class="col-lg-10">
                <div class="well well-sm">
                  <div class="row">
                    <div class="col-xs-4">Host Record: <strong>www</strong></div>
                    <div class="col-xs-2">Type: <strong>CNAME</strong></div>
                    <div class="col-xs-6">To: <strong>www.my-other-domain.com.{{~ app.fqdn }}</strong></div>
                  </div>
                </div>
              </div>
            </div>

            <br />
            <span class="label label-danger en">PARAMETER</span>
            <span class="label label-danger pt-br">PARÂMETRO</span>
            <span class="pt-br">
              O parâmetro <code>.opts-https.</code> redireciona para o domínio com <strong>https</strong>. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>
            <span class="en">
              The <code>.opts-https.</code> parameter redirect to <strong>https</strong> domain. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="redirect-model-three">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#redirect-model-3"
              aria-expanded="false" aria-controls="redirect-model-3">
              <span class="glyphicon glyphicon-share-alt"></span>
              <span class="pt-br">Redirecionar <code class="test_origin">http://www.my-domain.com/&lt;qualquer-coisa&gt;</code>
                para <code class="test_destination">http://www.my-other-domain.com/&lt;mesma-coisa&gt;</code></span>
              <span class="en">Redirect <code class="test_origin">http://www.my-domain.com/&lt;anything&gt;</code> to
                <code class="test_destination">http://www.my-other-domain.com/&lt;same-thing&gt;</code></span>
            </a>
          </h4>
        </div>
        <div id="redirect-model-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="redirect-model-three">
          <div class="panel-body">
            <p>
              <span class="en">Configure your DNS Zone as follows:</span>
              <span class="pt-br">Configure seu DNS da seguinte forma:</span>
            </p>
            <div class="row">
              <div class="col-lg-10">
                <div class="well well-sm">
                  <div class="row">
                    <div class="col-xs-4">Host Record: <strong>www</strong></div>
                    <div class="col-xs-2">Type: <strong>CNAME</strong></div>
                    <div class="col-xs-6">To: <strong>www.my-other-domain.com.opts-uri.{{~ app.fqdn }}</strong></div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <span class="label label-danger en">ATTENTION</span>
            <span class="label label-danger pt-br">ATENÇÃO</span>
            <span class="pt-br">
              O parâmetro <code>.opts-uri.</code> é o responsável por repassar o caminhodo da URL origem para a URL
              destino.
            </span>
            <span class="en">
              The <code>.opts-uri.</code> parameter is responsible for passing the path of the source URL to the
              destination URL.
            </span>
            <br />
            <span class="label label-danger en">PARAMETER</span>
            <span class="label label-danger pt-br">PARÂMETRO</span>
            <span class="pt-br">
              O parâmetro <code>.opts-https.</code> redireciona para o domínio com <strong>https</strong>. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>
            <span class="en">
              The <code>.opts-https.</code> parameter redirect to <strong>https</strong> domain. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="redirect-model-four">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#redirect-model-4"
              aria-expanded="false" aria-controls="redirect-model-4">
              <span class="glyphicon glyphicon-share-alt"></span>
              <span class="pt-br">Redirecionar <code class="test_origin">http://jobs.my-domain.com</code> para <code
                  class="test_destination">http://www.my-domain.com/jobs</code></span>
              <span class="en">Redirect <code class="test_origin">http://jobs.my-domain.com</code> to <code class="test_destination">http://www.my-domain.com/jobs?id=1</code></span>
            </a>
          </h4>
        </div>
        <div id="redirect-model-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="redirect-model-four">
          <div class="panel-body">
            <p>
              <span class="en">Configure your DNS Zone as follows:</span>
              <span class="pt-br">Configure seu DNS da seguinte forma:</span>
            </p>
            <div class="row">
              <div class="col-lg-10">
                <div class="well well-sm">
                  <div class="row">
                    <div class="col-xs-3">Host Record: <strong>jobs</strong></div>
                    <div class="col-xs-2">Type: <strong>CNAME</strong></div>
                    <div class="col-xs-7">To: <strong>www.my-domain.com.opts-slash.jobs.opts-query.id.opts-eq.1.{{~ app.fqdn }}</strong></div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <span class="label label-danger en">ATTENTION</span>
            <span class="label label-danger pt-br">ATENÇÃO</span>
            <span class="pt-br">
              O parâmetro <code>.opts-slash.</code> é o responsável por transformar <code>.jobs</code> para <code>/jobs</code>
              e repassar para a URL destino.
            </span>
            <span class="en">
              The <code>.opts-slash.</code> parameter is responsible to tuning <code>.jobs</code> to <code>/jobs</code>
              and pass on to the destination URL.
            </span>
            <br />
            <span class="label label-danger en">PARAMETER</span>
            <span class="label label-danger pt-br">PARÂMETRO</span>
            <span class="pt-br">
              O parâmetro <code>.opts-https.</code> redireciona para o domínio com <strong>https</strong>. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>
            <span class="en">
              The <code>.opts-https.</code> parameter redirect to <strong>https</strong> domain. Ex:
              www.my-domain.com.opts-https.{{~ app.fqdn }}.
            </span>
            <br />
            <span class="label label-danger en">PARAMETER</span>
            <span class="label label-danger pt-br">PARÂMETRO</span>
            <span class="en">
              The <code>.opts-path-&lt;base32-encoded-path&gt;.</code> parameter add the URL path. It's important when
              you need to capitalize some characteres in your URL.
            </span>
            <span class="pt-br">
              O parâmetro <code>.opts-path-&lt;base32-encoded-path&gt;.</code> adiciona o path na sua URL. Ele é especialmente
              importante quando pretente usar caracteres maiúsculos.
            </span>
            <br />
            <span class="label label-danger en">PARAMETER</span>
            <span class="label label-danger pt-br">PARÂMETRO</span>
            <span class="en">
              The <code>.opts-query-&lt;base32-encoded-query&gt;.</code> parameter is responsible to turning query params
              of <code>?&lt;query&gt;</code> to canonical domain name. You have to encode your query using RFC 4648 Base32
              encoding and remove all trailing <code>=</code> characters. You can use the converter below to do that.
            </span>
            <span class="pt-br">
              O parâmetro <code>.opts-query-&lt;base32-encoded-query&gt;.</code> é responsável por transformar os parâmetros
              de consulta <code>?&lt;query&gt;</code> em um nome de domínio canônico. Você deve codificar sua consulta usando
              a codificação RFC 4648 Base32 e remover todos os caracteres <code>=</code> que aparecem no final da linha.
              Você pode usar o conversor abaixo para fazer isso.
            </span>
            <br />
            <br />

            <span class="en">
              You can use the following form to convert your URLs to value for CNAME field in your DNS zone settings.
            </span>
            <form>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" placeholder="URL including proto, e.g. http://jobs.my-domain.com/?id=1" aria-label="URL including proto, e.g. http://jobs.my-domain.com/?id=1" type="url" class="form-control" id="url"/>
                </div>
                <div class="form-group">
                  <div class="input-group">
                  <input type="text" class="form-control" id="cname" readonly />
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="button" id="copyCNAME" data-clipboard-target="#cname">Copy</button>
                  </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <p class="pt-br">
        <span>
          {{~ app.projectName }}</span> é
        <a href="https://github.com/udleinati/redirect.center">open source</a>, code contributions,
        feedback no geral de idéias s&atilde;o muito bem vindas, postar via
        <a href="https://github.com/udleinati/redirect.center/issues">GitHub issues</a>,
        <a href="mailto:udlei@nati.biz">email</a> (udlei@nati.biz).
      </p>
      <p class="en">
        <span>
          {{~ app.projectName }}</span> is
        <a href="https://github.com/udleinati/redirect.center">open source</a>, code contributions,
        general feedback and ideas are greatly appreciated via either
        the <a href="https://github.com/udleinati/redirect.center/issues">GitHub issues</a>,
        <a href="mailto:udlei@nati.biz">email</a> (udlei@nati.biz).
      </p>
      <ul class="google-keywords">
        <li>dns cname redirect, redirect http, redirect url, cname url redirect, domain redirect, http redirect code,
          redirect host</li>
        <li>Leiten Sie von DNS, Domain-Weiterleitung, Umleitung dns cname</li>
        <li>redirecionar por dns, redirecionamiento de dominio, redirecionar cname dns</li>
        <li>redirigir mediante DNS, redireccionamiento de dominio, DNS CNAME redirección</li>
        <li>reindirizzare dal DNS, redireccionamiento dominio, cname reindirizzamento DNS</li>
        <li>Перенаправление на DNS, домен перенаправления, перенаправлять DNS CNAME</li>
        <li>إعادة توجيه من قبل نظام أسماء النطاقات، إعادة توجيه المجال توجيه DNS CNAME</li>
        <li>הפניה על ידי DNS, הפניה תחום, להפנות CNAME DNS</li>
        <li>डीएनएस, डोमेन अनुप्रेषित द्वारा पुन: निर्देशित DNS CNAME अनुप्रेषित</li>
        <li>DNS, 도메인 리디렉션으로 리디렉션의 DNS CNAME 리디렉션</li>
        <li>DNSは、ドメインリダイレクトによってリダイレクト、DNSのCNAMEのリダイレクト</li>
        <li>通过DNS，域名重定向重定向，重定向DNS CNAME</li>
        <li>通過DNS，域名重定向重定向，重定向DNS CNAME</li>
      </ul>
    </div>
  </footer>

  <a href="https://github.com/udleinati/redirect.center"><img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
      alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
</body>

<script type="text/javascript">
  function activeEn() {
    $('.change-language').removeClass('bold');
    $('.change-language.to-en').addClass('bold');
    $('.en').show();
    $('.pt-br').hide();
    location.hash = 'en';
  }

  function activePtBr() {
    $('.change-language').removeClass('bold');
    $('.change-language.to-pt-br').addClass('bold');
    $('.en').hide();
    $('.pt-br').show();
    location.hash = 'pt-br';
  }

  $(document).ready(function () {
    if (location.hash == '#en') {
      activeEn();
    } else if (location.hash == '#pt-br') {
      activePtBr();
    };
    $('.change-language').on('click', function () {
      if ($(this).hasClass('to-en')) {
        activeEn();
      } else {
        activePtBr();
      }
    });
  });

  var upSeconds = {{ uptime }};

  function doUptime() {
    var uptimeString = "Server Uptime: ";
    var secs = parseInt(upSeconds % 60);
    var mins = parseInt(upSeconds / 60 % 60);
    var hours = parseInt(upSeconds / 3600 % 24);
    var days = parseInt(upSeconds / 86400);

    if (days > 0) {
      uptimeString += days;
      uptimeString += ((days == 1) ? " day" : " days");
    }

    if (hours > 0) {
      uptimeString += ((days > 0) ? ", " : "") + hours;
      uptimeString += ((hours == 1) ? " hour" : " hours");
    }

    if (mins > 0) {
      uptimeString += ((days > 0 || hours > 0) ? ", " : "") + mins;
      uptimeString += ((mins == 1) ? " minute" : " minutes");
    }

    if (secs > 0) {
      uptimeString += ((days > 0 || hours > 0 || mins > 0) ? ", " : "") + secs;
      uptimeString += ((secs == 1) ? " second" : " seconds");
    }

    var span_el = document.getElementById("uptime");
    var replaceWith = document.createTextNode(uptimeString);
    span_el.replaceChild(replaceWith, span_el.childNodes[0]);

    upSeconds++;

    setTimeout("doUptime()", 1000);
  }

  doUptime();

  $('.panel').each(function (index) {
    anchor = $(this).find("a").attr("name");
    text = $(this).find(".panel-heading strong").html();
    $('.anchor-to-redirect-models').append('<a href="#' + anchor +
      '" class="list-group-item"><span class="glyphicon glyphicon-share-alt"></span>' + text + '</a>');
  });

</script>

  <script>
    $(document).ready(function() {
      new ClipboardJS('#copyCNAME');

      let input = document.querySelector('#url');
      let cname = document.querySelector('#cname');

      input.addEventListener('input', function(event) {
        cname.value = tranformURLtoCNAME(event.currentTarget.value);
      });

      function tranformURLtoCNAME(urlStr) {
        if (!urlStr) return '';
        let url;

        try {
          url = new URL(urlStr);
        } catch(e) {
          return '';
        }

        return url.hostname
          + (url.pathname && url.pathname !== '/'
            ? `.opts-path-${base32.encode(new TextEncoder().encode(url.pathname), { type: 'rfc4648', lc: true })}`
            : '')
          + (url.search
            ? `.opts-query-${base32.encode(new TextEncoder().encode(url.search.slice(1)), { type: 'rfc4648', lc: true })}`
            : '')
          + (url.protocol === 'https:' ? '.opts-https' : '')
          + '.{{~ app.fqdn }}.'
      }
    });
  </script>

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-51158860-1', 'redirect.center');
  ga('send', 'pageview');

</script>

</html>
